@import "tailwindcss";

.circle {
    width: 88px;
    height: 88px;
    border-radius: 9999px;
    display:flex;
    align-items:center;
    justify-content:center;
    background: conic-gradient(#34D399 var(--pct), #E6E7EB 0);
}
#previewTable th {
    position: sticky;
    top: 0;
    background: #f9fafb;
    z-index: 1;
}